h1, h2 {
    font-size: 2em;
}

* {
    font-family: 'Roboto', sans-serif;
}


.square-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .square {
    position: relative;
    flex-basis: 8%;
    border: 1px solid #707070;
    box-sizing: border-box;
    background: #CBFFFB;

  }

  .square-container:nth-child(odd) .square:nth-child(even), .square-container:nth-child(even) .square:nth-child(odd) {
	background:#79E8D8;
}
  
  .square::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .square .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
  
    display: flex;               /* added for centered text */
    justify-content: center;     /* added for centered text */
    align-items: center;         /* added for centered text */
  }

  @media only screen and (max-width: 768px) {
      * {
          font-size: 13px;
      }
  }