<div class="container text-center ">
<div class=" d-flex flex-column justify-content-between p-3 vh-100">
    <button type="button" class="btn btn-link position-absolute restart" routerLink="/home">Restart!</button>

    <div class="question">
        <h3 class="py-1">
            Question {{question!.id}}
        </h3>
        <h4 class="py-1">
            {{question!.questionText | titlecase }}
        </h4>

    </div>
    <div>
        <div class="square-container" *ngFor="let row of heightGrid">
            <div class="square" *ngFor="let square of widthGrid">
                <div *ngIf="square == width-1 && row == height-1">
                    <div class="number position-absolute p-1">
                        1
                    </div>
                    <div class="info userInfo text-center" [@answerState]="answerState">
                        <img [src]="imageUrl" alt="" class="rounded-circle pt-1">
                        <h6>{{username | firstName}}</h6>
                    </div>
                    <div class="info tick" [@correctState]="correctState" >
                        <img src="/assets/images/tick.svg" alt="">
                    </div>

                </div>
                <div class="content">
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-around p-2">
        <button type="button" class="btn btn-primary p-sm-3 rounded-circle" (click)="onSubmitAnswer(true)">True</button>
        <button type="button" class="btn btn-danger  p-sm-3 rounded-circle" (click)="onSubmitAnswer(false)">False</button>
    </div>

</div>


</div>