<div class="container">
    <div class="row justify-content-center align-items-center text-center vh-100">
        <h1 class="col-sm-12">Snakes and Ladders!</h1>

        <form class="" [formGroup]="loginForm" (ngSubmit)="saveData()">
            <div class="p-3" *ngIf="loggedIn">
                <h3 class="">Hello, {{username}}</h3>
                <button type="button" class="btn btn-link" routerLink="/logout">Forget me!</button>
            </div>
            <div class="form-group" *ngIf="!loggedIn">
                <label for="name">Who Is Playing?</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="form-group" *ngIf="!loggedIn">
                <label for="imageUrl">Add Your Image URL!</label>
                <input type="url" class="form-control" id="imageUrl" formControlName="imageUrl"
                    [class.is-invalid]="ctrl.imageUrl.touched && ctrl.imageUrl.invalid">
            </div>

            <div class="form-group">
                <h2>Choose Grid Size</h2>
                <div class="row py-3">
                    <div class="col-md-6">
                        <label for="height">Grid Height</label>
                        <input type="number" class="form-control" id="height" formControlName="height" min="2" max="5">
                    </div>
                    <div class="col-md-6">
                        <label for="width">Grid Width</label>
                        <input type="number" class="form-control" id="height" formControlName="width" min="2" max="10">
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-success btn-lg">Let's Play!</button>
        </form>
    </div>
</div>